/* || HERO SECTION */
#hero_section {
    display: flex;
    justify-content: center;
    align-items: start;
    width: 100%;
    height: 100%;
}

#hero_container {
    display: flex;
    justify-content: center;
    gap: 1rem;
    width: 100%;
    height: 100%;
}